* {
    margin: 0%;
    padding: 0%;
}

.text-centered {
    text-align: center;
}

.text-left {
    text-align: left;
}

.d-flex {
    display: flex;
    justify-content: space-around;

}

body {
    margin: 30px 40px;
    padding: 0px 10px;
    line-height: 30px;
    font-size: 18px;

}

.passport-iframe {
    text-align: center;
}

.div-requirements {
    margin-top: 30px;
    display: flex;
}



.requirement-container {
    max-width: 400px;
    
}

.new-applicant {
    display: block;
}

.ol-id {
   padding-left: 25px;
}

@media screen and (max-width: 480px) {
    .div-requirements {
        flex-direction: column;
    }
}


