/* 
Hero video Source = https://youtu.be/TBfyRPrR-X4
Color pallete = https://www.sarahtitus.com/25-best-travel-destinations-color-palettes/
Primary color =
#1A385A
#769ABE

Background accent = #9ec3e7

CTA color = #E46F44


*/


* {
    margin: 0%;
    padding: 0%;
}

.navbar {
    /* background-color: #769ABE; */
    font-weight: bold;
    position: fixed;
    width: 100%;
    top: 0;
    backdrop-filter: blur(3px);
}

.nav-item a {
    color: #E46F44;
    font-size: 25px;
    margin-left: 5px;

    text-shadow: 1px 2px black;
}

.nav-item a:hover {
    color: black;
    text-shadow: .5px .5px white;
    transition: color .5s;
}

.nav-li-span {
    font-size: 10px;
    padding: 0px 16px;
    font-weight: bold;
}

.upcoming {
    color: red;
    font-size: 10px;
    padding: 0px 16px;
}


.dropdown-menu li a {
    color: black;
    text-shadow: none;
    margin: 0px;
}

.dropdown-menu li a:hover {
    color: black;
    background-color: rgb(219, 219, 219);
}


/* START OF HEADER SECTION */

header {
    position: relative; /*giving parent element the position relative will allow us to set absolute position for the overlay child element*/
    height: 100vh; /* 100% viewport height*/
}

video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-text-inner {
    width: 100%;
    position: absolute; /*This will position the h1 and h3 elements in front of the hero video*/
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 150px;
    text-shadow: 2px 3px rgb(87, 85, 85);
}

.h3-header {
    font-size: 50px;
    text-shadow: 1px 2px rgb(87, 85, 85);
}

/* HERO CALL TO ACTION BUTTON */
.cta-outter {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-cta-book {
    width: 150px;
    height: 50px;
    background-color: #E46F44;

    border-radius: 10px;
    box-shadow: 1px 1px #DCD5DC;
}

.btn-cta-book a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px black;
    font-size: 18px;
    font-weight: 800;
}

.mobile-heder2 { /* This makes the header2 section visibile only for small screen sizes*/
    display: none;
}


/* START OF THE MAIN SECTION */
main {
    /* padding: 200px 100px 0px; */
    height: 100vh;
}

.main-hr {
    margin: 0%;
    height: 80px;
    background-color: #769ABE;
}

.section-cards {
    /* box-sizing: border-box; */
    margin: 20px 0px;
}

.section-cards-inner {
    padding: 20px 0px;
}

/* .row {
    display: flex;
    margin: 50px auto;
    background-color: #E46F44;
} */

.cards-row {
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* align-items: center; */
}

.card-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 15px;
    width: 250px;
    margin: 15px 10px 100px;
}

.card {
    position: relative;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    /* margin: 10px; */
    padding: 0%;
    border: 0px;
}

/* .card img {
    
} */

.heart-icon {
    margin: 5px;
    position: absolute;
    /* color: rgb(141, 137, 137); */
    color: white;

}

.card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* border-radius: 15px; */
    /* visibility: hidden; */
}

.card-text p {
    font-size: 15px;
    text-align: left;
}

h4 {
    margin-bottom: 0px;
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    height: 100vh;
}

.contact-container-inner  {
    padding: 40px;
    background-color: #769ABE;
    border-radius: 10px;
}

.contact-link {
    color: black;
}

.contact-link:hover {
    color: white;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    /* position: absolute;
    top: 100%; */

}

.faqs-section-container {
    height: 100vh;
    /* margin: 10% auto 10%; */
    display: flex;
    align-items: center;
}

.faq-container {
    margin: 0px auto;
    width: 70%;
    /* align-self: center; */
}

.faq-heading-container {
    text-align: center;
}

.sm-screen-collapse {
    display: none; /* This will hide the mobile collapse section. using display none to prevent the accordion from sliding down when in large screen size*/
}

.faq-btn:focus {
    background-color: #E46F44
  }

  .lg-screen-collapse .card-body{
    text-align: center;
    background-color: #769ABE;
    padding: 10px;
  }
