/* 
Hero video Source = https://youtu.be/TBfyRPrR-X4
Color pallete = https://www.sarahtitus.com/25-best-travel-destinations-color-palettes/
Primary color =
#1A385A
#769ABE

Background accent = #9ec3e7

CTA color = #E46F44

Reference for promotions page: 
https://www.fiestatours.com.ph/cst-promos/merci-beaucoup-tales-europe/
https://www.w3schools.com/js/js_htmldom_events.asp

Reference for flight and hotel booking page:
https://www.cheapflights.com.ph/?lang=en&skipapp=true&gclid=Cj0KCQiA9YugBhCZARIsAACXxeKAB6rfL43MfQQYWEkXbduIlSGVafznbor894FFWzhV4juNjN_tuqQaAlCqEALw_wcB


API Reference:
Travel & Booking = https://nordicapis.com/6-most-popular-travel-and-booking-apis/

*/


* {
    margin: 0%;
    padding: 0%;
}

body {
    min-height: 100vh;
    /* margin: 0; */
}

.html-page {
    min-height: 100%;
    margin-bottom: -25px;
}

.html-page::after {
    content: "";
    display: block;
}

footer, .html-page::after {
    height: 25px;
}

.navbar {
    /* background-color: #769ABE; */
    font-weight: bold;
    position: fixed;
    width: 100%;
    top: 0;
    backdrop-filter: blur(3px);
}

.nav-item a {
    color: #E46F44;
    font-size: 25px;
    margin-left: 5px;

    text-shadow: 1px 2px black;
}

.nav-item a:hover {
    color: black;
    text-shadow: .5px .5px white;
    transition: color .5s;
}

.nav-li-span {
    font-size: 10px;
    padding: 0px 16px;
    font-weight: bold;
}

.upcoming {
    color: red;
    font-size: 10px;
    padding: 0px 16px;
}


.dropdown-menu li a {
    color: black;
    text-shadow: none;
    margin: 0px;
}

.dropdown-menu li a:hover {
    color: black;
    background-color: rgb(219, 219, 219);
}


/* START OF HEADER SECTION */

header {
    position: relative; /*giving parent element the position relative will allow us to set absolute position for the overlay child element*/
    height: 100vh; /* 100% viewport height*/
}

video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-text-inner {
    width: 100%;
    position: absolute; /*This will position the h1 and h3 elements in front of the hero video*/
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 150px;
    text-shadow: 2px 3px rgb(87, 85, 85);
}

.h3-header {
    font-size: 50px;
    text-shadow: 1px 2px rgb(87, 85, 85);
}

/* HERO CALL TO ACTION BUTTON */
.cta-outter {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-cta-book {
    width: 150px;
    height: 50px;
    background-color: #E46F44;

    border-radius: 10px;
    box-shadow: 1px 1px #DCD5DC;
}

.btn-cta-book a {
    /* position: inherit; */
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px black;
    font-size: 18px;
    font-weight: 800;
}

.mobile-heder2 { /* This makes the header2 section visibile only for small screen sizes*/
    display: none;
}


/* START OF THE MAIN SECTION */
main {
    /* padding: 200px 100px 0px; */
    height: 100vh;
}

.main-hr {
    margin: 0%;
    height: 80px;
    background-color: #769ABE;
}

.section-cards {
    /* box-sizing: border-box; */
    margin: 20px 0px;

}

.cards-header {
    text-align: center;
}

.section-cards-inner {
    padding: 20px 0px;
}

/* .row {
    display: flex;
    margin: 50px auto;
    background-color: #E46F44;
} */

.cards-row {
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* align-items: center; */
}

.card-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 15px;
    width: 250px;
    margin: 15px 10px 100px;
}


/*
 Test css for clickable cards
 */
.card-container:hover {
    box-shadow: 5px 5px black;
    scale: 1.1 1.1;
    transition: scale .3s;
}

.card {
    position: relative;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    /* margin: 10px; */
    padding: 0%;
    border: 0px;
}

.heart-icon {
    margin: 5px;
    position: absolute;
    /* color: rgb(141, 137, 137); */
    color: white;

}

.clickable-card, .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-text p {
    font-size: 15px;
    text-align: left;
}

h4 {
    margin-bottom: 0px;
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    height: 100vh;
}

.contact-container-inner  {
    padding: 40px;
    background-color: #769ABE;
    border-radius: 10px;
    width: 900px;
}

.contact-link {
    color: black;
}

.contact-link:hover {
    color: white;
}

footer {

    position: sticky;
    top: 100%;
    background-color: black;
    color: white;
    text-align: center;

    /* position: sticky;
    bottom: 0%;
    width: 100%; */

}

.faqs-section-container {
    height: 100vh;
    /* margin: 10% auto 10%; */
    display: flex;
    align-items: center;
}

.faq-container {
    margin: 0px auto;
    width: 70%;
    /* align-self: center; */
}

.faq-heading-container {
    text-align: center;
}

.sm-screen-collapse {
    display: none; /* This will hide the mobile collapse section. using display none to prevent the accordion from sliding down when in large screen size*/
}

.faq-btn:focus {
    background-color: #E46F44
  }

  .map-container {
    position: relative;
    width: 30%;
    height: 30%;
    overflow: hidden;
    padding: 50%;

  }

  .map-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
  }

  .lg-screen-collapse .card-body{
    text-align: center;
    background-color: #769ABE;
    padding: 10px;
  }



  .buffer {
    height: 80px;
    /* background-color: #9ec3e7; */
  }

  .featured-services {
    margin: 20px 10px;
    padding: 0%;    
  }

  .booking-info {
    background-color: #9ec3e7;    
    padding: 10px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    width: 80%;
    margin: 0px auto;
}

.booking-info form {
    width: 1500px;
    display: flex;
    justify-content: space-evenly;
}

.booking-info input, select, button {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: 1px 1px solid black;
    cursor: pointer;
}

.booking-btn {
    /* border: none; */
    background-color: #E46F44;
}

.pax-count {
    max-width: 70px;
}

/* 
start of modal 
 */

 .booking-modal {
    z-index: 999999999;
    display: none;
    position: fixed;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .4);
 }

 .booking-modal-content {
    width: 300px;
    background-color: #9ec3e7;
    margin: auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    display: block;
    
}

.booking-modal-content  form {
    margin-top: 30px;
}

.booking-modal-content input {
    width: 250px;
    /* outline: none; */
    /* border-bottom: 1px solid black; */
    background-color: #9ec3e7;
    border-radius: 5px;
    padding: 5px;
}

.cvv-exp-div input {
    width: 100px;
}

.card-month input {
    font-size: 5px !important;
}

 .close-booking-modal {
    color: #E46F44;
    float: right;
    font-size: 30px;
    font-weight: bold;
 }

 .close-booking-modal:hover, .close-booking-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
 }

 #booking-modal-submit {
    /* align-self: center; */
    width: 100%;
    margin: 5px auto !important;
    background-color: #E46F44;
 }

 .cvv-exp-div {

    margin: 10px 0px;
 }

.pass-visa-container {
    display: flex;
    justify-content: space-evenly;
}

.passport h3, .visa h3 {
    text-align: center;
}

.learn-more {
    display: block;
    margin: 5px auto;
    background-color: #E46F44;
    
}

.passport, .visa {
    margin: 20px 10px;
    padding: 10px;
    max-width: 500px;
    text-align: justify;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}

.passport:hover, .visa:hover {
    box-shadow: 1px 1px 5px black;    
}

/* 
Passport iFrame Loader */
.div-requirements {
    display: flex;
    /* flex-direction: column !important; */
}

.pass-visa-result-container  iframe {
    display: flex;
    justify-content: center;
 

    position: relative;
    width: 100%;
    /* overflow: hidden; */
    /* padding-bottom: 100%; */

}
.iframe-services{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.collapse-passport {
    /* display: block; */
    height: 1000px;
}

/* .iframe-loader {
    overflow: hidden;
} */

.iframe-container{
    height: 1217px;
    width: 100%;
    /* overflow: hidden; */
}

.sim-text-content {
    text-align: center;
}

.sim-text {
    margin-top: 30px;
}

.sim {
    display: flex;
    justify-content: center;
}

.sim-img {
    /* height: 225px;
    width: 225px; */
    object-fit: contain;
    background-color: white;
}



/* =================================
            PACKAGE HTML
   ================================= */

   .package-location-container {
    margin: 30px ;
   }
   .div-location, .div-search, .package-img-container, .package-right-img, .cities, .package-features, .fine-print, .modal-body form {
    display: flex;
   }

   .div-search {
    justify-content: center;
    margin: 20px 0px;

   }

   .div-location, .options, .iframe-loader, .package-features {
    margin: 10px 60px;
   }

   .div-location {
    justify-content: space-between;
   }

   .package-h2 {
    font-size: 50px;
   }

   .searchbox {
    border: 5px solid #9ec3e7;
    border-radius: 10px;

   }

   .searchbox input {
    padding: 10px;

    height: 50px;
    width: 100px;
    transition: width .7s;
   }

   .searchbox input:focus {
    width: 300px; /*update with js -- input will not shrink until focus is outside the serchbox div*/
    transition: width .7s; 
    outline: none;
   }

   .searchbox button, .searchbox input {
    border: none;
    background-color: transparent;
   }

   .searchbox button:focus {
    background-color: rgb(224, 223, 223);
    outline: none;
   }

   .package-img-container {
    margin: 20px 40px;
   }

   .package-left-img {
    margin: 10px;
   }

   .package-right-img {
    flex-wrap: wrap;
    object-fit: contain;
   }

   .package-right-img img {
    width: 50%;
    height: 50%;
    padding: 10px;
   }

   .cities {
    width: 100%;
    display: block;
   }

   .cities li, .cities li a, .cities ul {
    list-style: none;
    text-decoration: none;
    color: black;
    display: flex;
   }

   .cities ul {
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
   }
   .cities li a {
    padding: 5px;
   }

   .cities li a:hover {
    color: #E46F44;
   }

   .package-features-inner {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto;
   }

   .inclusions, .payportal, .fine-print {
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
    box-shadow: 5px 10px 10px rgb(109, 105, 105);
    width: 500px;
   }

   .fine-print {
    flex-direction: column;

   }

   .btn-pay-modal {
    width: 30%;
    align-self: center;
    background-color: #E46F44;
   }

   .modal-body input {
    border-radius: 5px;
    pad: 5px;
   }


   .package-iframe-loader {
    margin: 0 auto;
    position: relative;
    width: 90%;
    overflow: hidden;
    padding-top: 75%;
   }

   #iframeContentLoader {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
   }

   .location-modal-booking, .location-modal-booking input  {
    background-color: #9ec3e7;
   }

   .location-modal-booking input {
    padding: 5px;
   }